<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F2Seed - Build your Idea from scratch</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      :root {
        font-size: 62.5%;
        font-family: "Work Sans", sans-serif;
      }

      body {
        font-size: 1.6rem;
        background: #dde1f1;
      }

      .container {
        width: 90%;
        margin-inline: auto;
      }

      header {
        padding-top: 1em;
      }

      h1 {
        font-size: clamp(2.2rem, calc(1.3rem + 2.1vw), 3.5rem);
        font-weight: 600;
        color: #111;
        padding: 2rem 0;
      }
      .small-header {
        font-size: clamp(1.5rem, calc(1.1rem + 1.5vw), 3rem);
        color: #333;
        font-weight: 600;
        padding: 2rem 0;
      }
      .header-light {
        font-size: clamp(1.8rem, calc(1.3rem + 1.7vw), 3.1rem);
        color: #333;
        font-weight: 500;
        padding: 2rem 0;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 0 5rem;
        border: 1px solid black;
      }

      th {
        background-color: #a5a5a5;
        color: white;
      }

      th,
      td {
        /* border: 1px solid black; */
        padding: 10px;
        text-align: left;
      }

      tr {
        border-bottom: 1px solid #ccc;
        background-color: #fafafa;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <span class="small-header"> New Response Gotten on: <br /> </span>
          F2Seed -
          <span class="header-light"> BUILD your Idea from scratch </span>
        </h1>
        <p>
          Date recieved: <% var date = new Date(); %> <%= date.toDateString() %>
        </p>
      </header>
      <main>
        <table>
          <thead>
            <tr>
              <th scope="col">Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Full Name</td>
              <td><%= fullName %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><a href="mailto://<%= email %>"><%= email %></a></td>
            </tr>
            <tr>
              <td>Website</td>
              <td>
                <a href="<%= website %>"> <%= website || "" %> </a>
              </td>
            </tr>
            <tr>
              <td>City</td>
              <td><%= city %></td>
            </tr>
            <tr>
              <td>Business Description</td>
              <td><%= businessDescription %></td>
            </tr>
            <tr>
              <td>Founder and Business Contact</td>
              <td><%= founderAndBusinessContact %></td>
            </tr>
            <tr>
              <td>Product or Service Category</td>
              <td><%= productOrServiceCategory %></td>
            </tr>
            <tr>
              <td>Progress</td>
              <td><%= progress %></td>
            </tr>
            <tr>
              <td>Product Demo</td>
              <td>
                <a href="<%= productDemo %>"> <%= productDemo %> </a>
              </td>
            </tr>
            <tr>
              <td>Business Idea</td>
              <td><%= businessIdea %></td>
            </tr>
            <tr>
              <td>Market</td>
              <td><%= market %></td>
            </tr>
            <tr>
              <td>Equity or Fund Sharing</td>
              <td><%= equityOrFundSharing %></td>
            </tr>
            <tr>
              <td>Funding</td>
              <td><%= funding %></td>
            </tr>
            <tr>
              <td>Legal</td>
              <td><%= legal %></td>
            </tr>
            <tr>
              <td>Team</td>
              <td><%= team %></td>
            </tr>
            <tr>
              <td>Others</td>
              <td><%= others %></td>
            </tr>
            <tr>
              <td>Reference</td>
              <td><%= reference %></td>
            </tr>
            <tr>
              <td>Video Pitch</td>
              <td>
                <a href="<%= videoPitch %>"> <%= videoPitch %> </a>
              </td>
            </tr>
            <tr>
              <td>Pitch Deck</td>
              <td>
                <a href="<%= pitchDeck %>"> <%= pitchDeck %> </a>
              </td>
            </tr>
            <tr>
              <td>Equity</td>
              <td><%= equity %></td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
  </body>
</html>
